pandas==2.1.0
numpy
gensim==4.3.2


huggingface-hub==0.20.2

nltk==3.6.5

Pillow==9.2.0


scikit-base==0.5.2
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1

sentencepiece==0.1.99

spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5


streamlit==1.27.2
transformers==4.36.2

tokenizers==0.15

torch==1.13.1







